.table_Text {
    font-size: 1rem; /* 12px */
    line-height: 1.25rem; 
}

.table_Header {
    font-weight: bold;
    color: rgb(156 163 175);
    text-transform: uppercase;
    background-color: rgb(55 65 81);
}

.table_Header__Items {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.table_Content {
    border-bottom-width: 1px;
    border-style: solid;
    border-color: rgb(55 65 81);
    background-color:  rgb(31 41 55);
}

.table_Content__Items {
    padding-left: 1.5rem; /* 24px */
    padding-right: 1.5rem;
    padding-top: 1rem; /* 16px */
    padding-bottom: 1rem;
}
